body{
    margin: 0;
}

.login{
    display: flex;
}

.login .container{
    display: flex;
    width: 100%;
}

.login .container .left{
    height: 100%;
    width: 50%;
    background: #004aad;
    color: #ffffff;
}

.login .container .left header{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20%;
    font-size: 30px;
}

.login .container .left header img{
    margin-left: 50px;
}

.login .container .left header a{
    text-decoration: none;
    color: white;
}

.login .container .left main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.login .container .left main h2{
    text-align: center;
    width: 80%;
    font-size: 50px;
    font-weight: 400;
}

.login .container .right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: #ffffff;
}

.login .container .right .card{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 60%;
}

.login .container .right .card h2{
    font-size: 30px;
}

.login .container .right .card .top{
    text-align: center;
}

.login .container .right .card .main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50%;
}

.login .container .right .card .main .item{
    display: flex;
    gap: 10px;
}

.login .container .right .card .main .item .bar{
    height: 100%;
    width: 5px;
    background: #004aad;
    border-radius: 20px;
}

.login .container .right .card .main .item input{
    height: 50px;
    outline: none;
    border: #ffffff;
}

.login .container .right .card .main .login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login .container .right .card .main .login a{
    text-decoration: none;
}

.login .container .right .card .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .container .right .card .bottom button{
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    padding: 20px 40px;
    background: #004aad;
    border: none;
    border-radius: 10px;
}

.login .container .right .card .bottom button:hover{
    cursor: pointer;
    background: #1865ca;
}

.login .container .right .card .bottom button:active{background: #6695d3;}